generator client {
  provider      = "prisma-client-js"
  binaryTargets = ["native", "debian-openssl-1.1.x", "rhel-openssl-1.0.x"]
}

datasource db {
  provider = "postgresql"
  url      = "DATABASE_STRING"
}

model Afks {
  id       Int    @id @default(autoincrement())
  message  String
  user     String @unique
  cooldown Int
  date     Int
}

model Clubs {
  id          Int    @id @default(autoincrement())
  clubName    String @unique
  prettyName  String @unique
  roleid      Int
  description String
}

model Stars {
  id               Int @id @default(autoincrement())
  messageid        Int @unique
  embedid          Int @unique
  messageChannelid Int
}

model Prefixes {
  id     Int    @id @default(autoincrement())
  guild  String @unique
  prefix String
}

model Backspeak {
  id       Int    @id @default(autoincrement())
  gameName String @unique
  content  String
  started  Int
}

// model Reminder {
//   id Int @id @default(autoincrement())
// }
